<% if current_user.manager? %>
    <div class="row" style = "text-align: center;" >
        <h2>USERS</h2>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>EMAIL</th>
                <th>ROLE</th>
            </tr>
        </thead>
        <tbody id="users-tbody">
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.first_name %></td>
                    <td><%= user.last_name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="pagination">
        <ul>
          <li> <%= paginate @users, :window => 2 %></li>
        </ul>
    </div>
<% end %>