<%= javascript_include_tag "users.js" %>
<div class="row">
  <h2>USERS</h2>
</div>
<div class="thumbnail" style="padding:20px">
  <div id="error"></div>
  <%= form_for @user, url: create_user_users_path do |f| %>
    <p>
      <%= f.label :First_Name %><br>
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :Last_Name %><br>
      <%= f.text_field :last_name %>
    </p>
     <p>
      <%= f.label :Email %><br>
      <%= f.text_field :email %>
    </p>
    <p>
      <%=f.submit  id: 'submit_button', type: 'button', class: 'btn btn-success'%>
    </p>
  <% end %>
</div>
