<%= javascript_include_tag "cart" %>
<div class='cart1'>
  <% total = 0 %>
  <% if session[:cart].present? %>
  <table class="table table-bordered cart-table">
    <thead>
      <tr style="font-size: 12px;">
      <th>PRODUCT NAME</th>
      <th>CATEGORY NAME</th>
      <th>UNIT PRICE</th>
      <th>QUANITY</th>
      <th>TOTAL</th>
      <th>REMOVE</th>
    </tr>
    </thead>

    <% @cart_products.each do |item| %>
      <% if item.present? %>
      <tr class="cart-items">
        <td><%= item.name %></td>
        <td><%= item.category.name %></td>
        <td><%= item.unit_price.to_i %></td>
        <% cart_item = session[:cart].find{|i| i['product_id'].to_i == item.id } %>
        <% quanity = cart_item['quantity'] if cart_item.present? %>
        <td><%= quanity %></td>
        <td><%= item.unit_price.to_i * quanity.to_i %></td>
        <td><button type="button" class="btn btn-default remove" id="<%= item.id %>">Remove</button>
        <% total += item.unit_price.to_i * quanity.to_i %>
      </tr>
      <% end %>
    <% end %>
  </table>
  <strong>Total amount: <%= total %></strong>
  <center><button type="button" class="btn btn-primary checkout">Purchase</button></center>
   <% else %>
  <p><center>Your cart is empty! </center></p>
  <% end %>
</div>

<script type="text/javascript">
$(".remove").click(function() {
        var id = $(this).attr('id');
        $.ajax({
            url: '/remove_cart',
            type: 'GET',
            data: {
                'index': id,
            },
            success: function(data){
                $('#myModal1 .modal-body').html(data);
                var count = $(".cart-items").length;
                $('#cart-total').html(count);
            },
            error: function(){
              alert('Error');
            }
        });
    });

    $(function () {
    $(".checkout").click(function() {
        $.ajax({
            url: '/purchase',
            type: 'GET',
            success: function(data){
                $('#myModal1 .modal-body').html(data);
                $('#cart-total').html(0);
            },
            error: function(){
              alert('Error');
            }
        });
    });
});


</script>