<div class='add-cart'>
  <% total = 0 %>
  <% items = session[:cart] %>
  <table class="table table-bordered cart-table">
    <tr>
      <th>PRODUCT NAME</th>
      <th>CATEGORY NAME</th>
      <th>UNIT PRICE</th>
      <th>QUANITY</th>
      <th>TOTAL</th>
      <th>REMOVE</th>
    </tr>
     <tr>
    <% @products.each_with_index do |item, index| %>
      <% if item.present? %>
          <td><%= item.name %></td>
          <td><%= item.category.name %></td>
          <td><%= item.unit_price.to_i %></td>
          <td><%= @quantities[index] %></td>
          <td><%= item.unit_price.to_i * @quantities[index].to_i %></td>
          <td><%= link_to 'remove item', remove_cart_path(index: item) %>
          <% total += item.unit_price.to_i * @quantities[index].to_i %>
        </tr>
      <% end %>
    <% end %>
  </table>
  <strong>Total amount: <%= total %></strong>
</div>
