<%= javascript_include_tag "cart" %>
<div id ="products-listing">
    <% @products.each do |product| %>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="product-thumb transition" style="height: 343px; overflow:hidden;" >
          <div class="image">
            <%= image_tag product.avatar.url(:thumb) %>
          </div>
          <% if product.quantity >=1 %>
          <div class="caption">
            <h4> <%= product.name %><br></h4>
            <p>
              <strong>Category :</strong> <%= product.category.name %><br>
        <!-- <td><%= product.name %></td> -->
              <p class="price">
                  <strong>Price :</strong> <%= product.unit_price %><br>
              </p>
              <p class="price">
                  <strong>Quantity Remaining :</strong> <%= product.quantity %><br>
              </p>
            </p>
          </div>
          <div  class="button-group">
            <button type="button" class="add-cart" product-id="<%= product.id %>">
              Add to Cart
            </button>
            <%= number_field_tag 'quantity',1, min: 1, max: product.quantity.to_i, style: "margin-top: 7px;" %>
          </div>
           <% else %>
            <div class="caption">
               <h4> <%= product.name %><br></h4>
              <%= image_tag("outofstock.jpg",size: "200x200")%>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
