<div class="row" style = "text-align: center;" >
  <h2>OFFERS</h2>
</div>
<%= link_to 'ADD OFFER', new_offer_path, :class=>'btn btn-success'%>
<table class="table table-bordered">
  <thead>
    <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th class="table-width">OPERATIONS</th>
    </tr>
  </thead>
  <tbody id="users-tbody">
    <% @offers.each do |offer| %>
      <tr>
        <td><%= link_to offer.product.name, product_path(offer.product_id) %></td>
        <td><%= strip_tags(offer.description) %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer),class: "set-padding" %>
            <%= link_to 'Destroy', offer_path(offer),class: "set-padding",
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination">
<ul>
  <li> <%= paginate @offers, :window => 2 %></li>
</ul>
</div>