<div class="row">
  <h2>CATEGORIES</h2>

</div>
<div class="row">
  <%= form_tag categories_path, :method => 'get', :id =>"categories_search" do %>
<!-- 
 Adding Test comment
Adding Test comment
Adding Test comment
Adding Test comment
Adding Test comment

-->

<!-- 
 Adding Test comment
Adding Test comment
Adding Test comment
Adding Test comment
Adding Test comment

-->
 
   <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
    <% end %>
  <div class="row">
    <%= link_to 'ADD CATEGORY', new_category_path %>
  </div>
  <div class="row">
    <table class="table">
      <tr>
<!-- 
 Adding Test comment
Adding Test comment
Adding Test comment
Adding Test comment
Adding Test comment

-->
        <th>code</th>
        <th>name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @category.each do |category| %>
        <tr>

          <td><%= category.code %></td>
          <td><%= category.name %></td>
          <td><%= link_to 'Show', category_path(category) %></td>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Destroy', category_path(category),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
