<p>
	<strong>Code:</strong>
  	<%= @category.code %>
</p>
<p>
    <strong>name:</strong>
    <%= @category.name %>
</p>
<p>
 	<strong>Created at:</strong>
    <%= @category.created_at %>
</p>
<p>
    <strong>Updated at:</strong>
    <%= @category.updated_at %>
</p>
<table class="table">
    <tr>
        <td><strong>Product Name</strong></td>
        <td><strong>Unit Price</strong></td>
        <td><strong>Quantity</strong></td>
    </tr>
    <% @products.each_with_index do |product, index| %>
    <tr>
        <td><%= product.name %></td>
        <td><%= product.unit_price %></td>
        <td><%= product.quantity %></td>
    </tr>
    <% end %>
</table>
<button type="button" class="btn btn-default">
    <%= link_to 'Edit', edit_category_path(@category) %>
</button>
<button type="button" class="btn btn-default">
    <%= link_to 'All Categories', categories_path %>
</button>