<%= javascript_include_tag "products.js" %>
<div class="thumbnail form-submit" style="padding:20px">
  <h2>PRODUCTS</h2>
  <div id="error"></div>
  <%= form_for(@product) do |f| %>
    <p>
      <div class="form-group field">
        <label>NAME:</label>
        <%= f.text_field :name, :class=>"form-control",  :placeholder=>"name" %>
      </div>
    </p>
    <p>
      <div class="form-group field">
        <%= f.label :CATEGORY_NAME %><br>
        <%= f.collection_select(:category_id, Category.all, :id, :name) %>
       </div>
    </p>
    <p>
     <div class="form-group field">
        <label>UNIT PRICE:</label><br>
        <%= f.text_field :unit_price, :class=>"form-control",  :placeholder=>"unit price" %>
      </div>
    </p>
    <p>
      <div class="form-group field">
        <label>QUANTITY:</label><br>
        <%= f.text_field :quantity, :class=>"form-control",  :placeholder=>"quantity" %>
      </div>
    </p>
    <p>
        <strong>Add photo</strong>
        <%= f.file_field :avatar %>
      </p>
    <p>
      <%=f.button "submit", type: 'button', :OnClick =>'validateForm()', :class=>'btn btn-success'%>
    </p>
  <% end %>
</div>
