<%= javascript_include_tag "products.js" %>
<div class="row" style = "text-align: center;">
  <h2>PRODUCTS</h2>
</div>
<div class="row">
  <%= form_tag products_path, :method => 'get', :id =>"products_search", style: "padding: 20px" do %>
    <div class="col-lg-6">
      <div class="input-group" style = "width: 60%">
        <%= text_field_tag :search, params[:search], :id =>"text", :class=>"form-control" %>
        <span class="input-group-btn">
          <%= submit_tag "Search", :name => nil, :id => "search_button", :class=>"btn btn-default" %>
        </span>
      </div>
    </div>
    <%= link_to 'ADD PRODUCT', new_product_path, :class=>'btn btn-success'%>

  <% end %>
  <div class ="row">
    <div class="col-sm-6">
      <h3>IMPORT PRODUCTS:</h3>
      <%= form_tag import_products_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import" %>
      <% end %>
    </div>
    <div class="col-sm-6">
        <h3>EXPORT PRODUCTS:</h3>
        <%= link_to "Download CSV", products_path(format: "csv") %> |
        <%= link_to "Download Excel", products_path(format: "xls") %>
      </p>
    </div>
  </div>
  <div id="products_div">
    <%= render partial: 'products' %>
  </div>
</div>
<div class="pagination">
  <ul>
    <li> <%= paginate @products, :window => 2 %></li>
  </ul>
</div>
