<div class="row" style = "text-align: center;">
  <h2>PRODUCTS</h2>
</div>

<div class="row">
  <%= javascript_include_tag "products.js" %>
  <%= form_tag products_path, :method => 'get', :id =>"products_search", style: "padding: 20px" do %>
    <div class="col-lg-6">
      <div class="input-group" style = "width: 60%">
        <%= text_field_tag :search, params[:search], :id =>"text", :class=>"form-control" %>
        <span class="input-group-btn">
          <%= submit_tag "Search", :name => nil, :id => "search_button", :class=>"btn btn-default" %>
        </span>
      </div><!-- /input-group -->
    </div>

    <%= link_to 'ADD PRODUCT', new_product_path, :class=>'btn btn-success'%>
     <% end %>
    <div id="products_div">
      <%= render partial: 'products' %>
    </div>
    <div class="pagination">
        <ul>
          <li> <%= paginate @products, :window => 2 %></li>
        </ul>
    </div>


</div>