<div class="row">
  <h2>PRODUCTS</h2>
</div>

<div class="row">
  <%= form_tag products_path, :method => 'get', :id =>"products_search" do %>
    <p>
      <%= text_field_tag :search, params[:search], :id=>"text" %>
      <%= submit_tag "Search", :name => nil, :id=>"search_button" %>
      <div id="products_div"><%= render 'products' %></div>
    </p>

  <% end %>
  <script>
    $(document).ready(function(){
      $("#search_button").click(function(){
        alert($("#text").val());
      });
   });
    $.ajax({
  url: '/products',
  type: 'GET',
  dataType: 'json',
  beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('product'))
            },
  success: function(data){/*do something meaningful with data*/},
  error: function(xhr, status, response) {/* your error callback*/}
})
</script>
  <div class="row">
    <%= link_to 'ADD PRODUCT', new_product_path %>
  </div>
  <!---->

</div>