
<p>
  <strong>Product Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Category Name:</strong>
  <%= @product.category.name %>
</p>
<p>
 	<strong>Quantity:</strong>
  <%= @product.quantity %>
</p>
<p>
 <strong>Unitprice:</strong>
  <%= @product.unit_price %>
<p>
 	<strong>Created at:</strong>
    <%= @product.created_at %>
</p>
<p>
    <strong>Updated at:</strong>
    <%= @product.updated_at %>
</p>
<p>
  <%= image_tag @product.avatar.url(:thumb) %>
</p>
<table class="table table-bordered tb-width">
    <tr>
        <th><strong>Offers</strong></th>
    </tr>
    <% @offers.each_with_index do |offer, index| %>
    <tr>
        <td><%= offer.description.html_safe %></td>
    </tr>
    <% end %>
</table>